In [343]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [344]:
def team(team_name):
    var = team_name+'.csv'
    temp = pd.read_csv(var ,encoding = "ISO-8859-1")
    return temp

In [345]:
df = team("vs australia")

In [346]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ï»¿POS  12 non-null     int64
 1   Player  12 non-null     object
 2   Mat     12 non-null     int64
 3   Inns    12 non-null     int64
 4   NO      12 non-null     int64
 5   Runs    12 non-null     int64
 6   HS      12 non-null     int64
 7   Avg     12 non-null     float64
 8   BF      12 non-null     int64
 9   SR      12 non-null     float64
 10  100     12 non-null     int64
 11  50      12 non-null     int64
 12  4s      12 non-null     int64
 13  6s      12 non-null     int64
 14  oppo    12 non-null     object
dtypes: float64(2), int64(11), object(2)
memory usage: 1.5+ KB

In [347]:
df.isnull().sum()

ï»¿POS    0
Player    0
Mat       0
Inns      0
NO        0
Runs      0
HS        0
Avg       0
BF        0
SR        0
100       0
50        0
4s        0
6s        0
oppo      0
dtype: int64

In [348]:
df[df["Avg"]== "-"]

Empty DataFrame
Columns: [ï»¿POS, Player, Mat, Inns, NO, Runs, HS, Avg, BF, SR, 100, 50, 4s, 6s, oppo]
Index: []

In [349]:
df.replace('-',1,inplace=True)

In [350]:
df[df["Avg"]== "-"]

Empty DataFrame
Columns: [ï»¿POS, Player, Mat, Inns, NO, Runs, HS, Avg, BF, SR, 100, 50, 4s, 6s, oppo]
Index: []

In [351]:
df.head()

,ï»¿POS,Player,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s,oppo
0,1,Virat_kohli,14,22,0,794,99,52.93,291,143.84,0,3,33,14,aus
1,2,Rohit_Sharma,11,22,1,392,95,24.50,185,139.50,0,2,22,16,aus
2,3,Suryakumar_Yadav,13,3,0,115,78,38.33,224,185.48,0,1,25,15,aus
3,4,KL_Rahul,7,11,1,271,87,27.10,173,133.49,0,3,22,12,aus
4,5,Rishabh_Pant,10,6,0,24,93,6.00,177,85.71,0,1,24,11,aus

In [352]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ï»¿POS  12 non-null     int64
 1   Player  12 non-null     object
 2   Mat     12 non-null     int64
 3   Inns    12 non-null     int64
 4   NO      12 non-null     int64
 5   Runs    12 non-null     int64
 6   HS      12 non-null     int64
 7   Avg     12 non-null     float64
 8   BF      12 non-null     int64
 9   SR      12 non-null     float64
 10  100     12 non-null     int64
 11  50      12 non-null     int64
 12  4s      12 non-null     int64
 13  6s      12 non-null     int64
 14  oppo    12 non-null     object
dtypes: float64(2), int64(11), object(2)
memory usage: 1.5+ KB

In [353]:
#df["PLAYER"] = pd.Categorical(df["PLAYER"])
df_dummies = pd.get_dummies(df.Player)
df_dummies_2 = pd.get_dummies(df.oppo)

In [355]:
df_dummies_2

    aus  india
0     1      0
1     1      0
2     1      0
3     1      0
4     1      0
5     1      0
6     1      0
7     1      0
8     1      0
9     1      0
10    0      1
11    0      1

In [357]:
df_dummies_2.aus

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    0
11    0
Name: aus, dtype: uint8

In [359]:
df.Avg = df.Avg.astype(float)

In [360]:
df["Run"] = df["Runs"]//df["Inns"]

In [361]:
df.head()

,ï»¿POS,Player,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s,oppo,Run
0,1,Virat_kohli,14,22,0,794,99,52.93,291,143.84,0,3,33,14,aus,36
1,2,Rohit_Sharma,11,22,1,392,95,24.50,185,139.50,0,2,22,16,aus,17
2,3,Suryakumar_Yadav,13,3,0,115,78,38.33,224,185.48,0,1,25,15,aus,38
3,4,KL_Rahul,7,11,1,271,87,27.10,173,133.49,0,3,22,12,aus,24
4,5,Rishabh_Pant,10,6,0,24,93,6.00,177,85.71,0,1,24,11,aus,4

In [362]:
df1_temp = pd.concat([df,df_dummies],axis='columns')
df1 = pd.concat([df1_temp,df_dummies_2],axis='columns')

In [363]:
df2_temp= df1.drop(columns = ["Player"])
df2= df2_temp.drop(columns = ["oppo"])
df2.head()

,ï»¿POS,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,...,KL_Rahul,Rishabh_Pant,Rohit_Sharma,Sanju_Samson,Shikhar_Dhawan,Shreyas_Iyer,Suryakumar_Yadav,Virat_kohli,aus,india
0,1,14,22,0,794,99,52.93,291,143.84,0,...,0,0,0,0,0,0,0,1,1,0
1,2,11,22,1,392,95,24.50,185,139.50,0,...,0,0,1,0,0,0,0,0,1,0
2,3,13,3,0,115,78,38.33,224,185.48,0,...,0,0,0,0,0,0,1,0,1,0
3,4,7,11,1,271,87,27.10,173,133.49,0,...,1,0,0,0,0,0,0,0,1,0
4,5,10,6,0,24,93,6.00,177,85.71,0,...,0,1,0,0,0,0,0,0,1,0

In [364]:
df2.Run

0     36
1     17
2     38
3     24
4      4
5     24
6      6
7     17
8      9
9     16
10    24
11     6
Name: Run, dtype: int64

In [365]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ï»¿POS            12 non-null     int64
 1   Mat               12 non-null     int64
 2   Inns              12 non-null     int64
 3   NO                12 non-null     int64
 4   Runs              12 non-null     int64
 5   HS                12 non-null     int64
 6   Avg               12 non-null     float64
 7   BF                12 non-null     int64
 8   SR                12 non-null     float64
 9   100               12 non-null     int64
 10  50                12 non-null     int64
 11  4s                12 non-null     int64
 12  6s                12 non-null     int64
 13  Run               12 non-null     int64
 14  Dinesh_Karthik    12 non-null     uint8
 15  Hardik_Pandya     12 non-null     uint8
 16  KL_Rahul          12 non-null     uint8
 17  Rishabh_Pant      12 non-null     uint8
 18  Rohit_Sharma      12 non-null     uint8
 19  Sanju_Samson      12 non-null     uint8
 20  Shikhar_Dhawan    12 non-null     uint8
 21  Shreyas_Iyer      12 non-null     uint8
 22  Suryakumar_Yadav  12 non-null     uint8
 23  Virat_kohli       12 non-null     uint8
 24  aus               12 non-null     uint8
 25  india             12 non-null     uint8
dtypes: float64(2), int64(12), uint8(12)
memory usage: 1.6 KB

In [366]:
X = df2.drop(columns = ["Mat" ,"Inns","NO", "HS","100","50","4s","6s"])
X.head()

,ï»¿POS,Runs,Avg,BF,SR,Run,Dinesh_Karthik,Hardik_Pandya,KL_Rahul,Rishabh_Pant,Rohit_Sharma,Sanju_Samson,Shikhar_Dhawan,Shreyas_Iyer,Suryakumar_Yadav,Virat_kohli,aus,india
0,1,794,52.93,291,143.84,36,0,0,0,0,0,0,0,0,0,1,1,0
1,2,392,24.50,185,139.50,17,0,0,0,0,1,0,0,0,0,0,1,0
2,3,115,38.33,224,185.48,38,0,0,0,0,0,0,0,0,1,0,1,0
3,4,271,27.10,173,133.49,24,0,0,1,0,0,0,0,0,0,0,1,0
4,5,24,6.00,177,85.71,4,0,0,0,1,0,0,0,0,0,0,1,0

In [367]:
X.shape

(12, 18)

In [368]:
Y = df2.Run
len(Y)

12

In [369]:
from sklearn.model_selection import train_test_split

In [370]:
X_train, X_test, y_train, y_test=train_test_split(X,Y , test_size = 0.2 , random_state = 10)

In [371]:
X_train.shape

(9, 18)

In [372]:
from sklearn.linear_model import LinearRegression

In [373]:
lr = LinearRegression()

In [374]:
lr.fit(X_train, y_train)

LinearRegression()

In [375]:
lr.score(X_test, y_test)

0.9998495254374756

In [376]:
lr.score(X_train, y_train)

1.0

In [377]:
data_train = pd.concat([X_train, y_train], axis=1)
data_train.head()

,ï»¿POS,Runs,Avg,BF,SR,Run,Dinesh_Karthik,Hardik_Pandya,KL_Rahul,Rishabh_Pant,Rohit_Sharma,Sanju_Samson,Shikhar_Dhawan,Shreyas_Iyer,Suryakumar_Yadav,Virat_kohli,aus,india,Run
5,6,347,28.91,188,139.35,24,0,0,0,0,0,0,1,0,0,0,1,0,24
11,12,12,12.00,171,200.00,6,0,0,0,0,0,0,1,0,0,0,0,1,6
8,9,86,21.50,28,162.26,9,1,0,0,0,0,0,0,0,0,0,1,0,9
10,11,271,27.10,173,133.49,24,0,0,1,0,0,0,0,0,0,0,0,1,24
3,4,271,27.10,173,133.49,24,0,0,1,0,0,0,0,0,0,0,1,0,24

In [378]:
X_train.columns

Index(['ï»¿POS', 'Runs', 'Avg', 'BF', 'SR', 'Run', 'Dinesh_Karthik',
       'Hardik_Pandya', 'KL_Rahul', 'Rishabh_Pant', 'Rohit_Sharma',
       'Sanju_Samson', 'Shikhar_Dhawan', 'Shreyas_Iyer', 'Suryakumar_Yadav',
       'Virat_kohli', 'aus', 'india'],
      dtype='object')

In [379]:
import statsmodels.formula.api as smf

In [380]:
lm1 = smf.ols(formula= 'Runs ~ Avg+BF+SR', data = data_train).fit()
lm1.params

Intercept   -125.722385
Avg           15.325963
BF             0.783031
SR            -0.820117
dtype: float64

In [381]:
print(lm1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Runs   R-squared:                       0.966
Model:                            OLS   Adj. R-squared:                  0.945
Method:                 Least Squares   F-statistic:                     47.15
Date:                Tue, 15 Nov 2022   Prob (F-statistic):           0.000433
Time:                        18:45:00   Log-Likelihood:                -46.752
No. Observations:                   9   AIC:                             101.5
Df Residuals:                       5   BIC:                             102.3
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -125.7224    115.648     -1.087      0.327    -423.005     171.560
Avg           15.3260      1.937      7.914      0.001      10.348      20.304
BF             0.7830      0.323      2.422      0.060      -0.048       1.614
SR            -0.8201      0.719     -1.140      0.306      -2.669       1.029
==============================================================================
Omnibus:                       13.217   Durbin-Watson:                   2.317
Prob(Omnibus):                  0.001   Jarque-Bera (JB):                5.528
Skew:                           1.628   Prob(JB):                       0.0630
Kurtosis:                       5.033   Cond. No.                     1.31e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.31e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

c:\Users\MYPC\AppData\Local\Programs\Python\Python311\Lib\site-packages\scipy\stats\_stats_py.py:1772: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [382]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

In [383]:
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, Y, cv=cv)

array([0.92449156, 0.99509229, 0.99982149, 0.99928777, 0.99988939])

In [391]:
def predict_run(PLAYER,Avg, BF, SR,Fours, Six):    
    loc_index = np.where(X.columns==PLAYER )[0][0]
    x = np.zeros(len(X.columns))
    x[0] = Avg
    x[1] = BF
    x[2] = SR
    x[3] = Fours
    x[4] = Six
    if loc_index >= 0:
        x[loc_index] = 1
    return  (lr.predict([x])[0])

In [392]:
predict_run("Rohit_Sharma",600,291,126.46,33,14)

c:\Users\MYPC\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

2.723361610203465

In [386]:
import joblib
joblib.dump(lr, 'model.pkl')
print("Model dumped!")

# Load the model that you just saved
lr = joblib.load('model.pkl')

# Saving the data columns from training
model_columns = list(X.columns)
joblib.dump(model_columns, 'model_columns.pkl')
print("Models columns dumped!")

Model dumped!
Models columns dumped!

In [387]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))

In [388]:
import pickle
with open('ipl_individual.pickle','wb') as f:
    pickle.dump(lr,f)