In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [13]:
def team(team_name):
    var = team_name+'.csv'
    temp = pd.read_csv(var ,encoding = "ISO-8859-1")
    return temp

In [14]:
df = team("vs australia")

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ï»¿POS  10 non-null     int64
 1   Player  10 non-null     object
 2   Mat     10 non-null     int64
 3   Inns    10 non-null     int64
 4   NO      10 non-null     int64
 5   Runs    10 non-null     int64
 6   HS      10 non-null     int64
 7   Avg     10 non-null     float64
 8   BF      10 non-null     int64
 9   SR      10 non-null     float64
 10  100     10 non-null     int64
 11  50      10 non-null     int64
 12  4s      10 non-null     int64
 13  6s      10 non-null     int64
dtypes: float64(2), int64(11), object(1)
memory usage: 1.2+ KB

In [16]:
df.isnull().sum()

ï»¿POS    0
Player    0
Mat       0
Inns      0
NO        0
Runs      0
HS        0
Avg       0
BF        0
SR        0
100       0
50        0
4s        0
6s        0
dtype: int64

In [17]:
df[df["Avg"]== "-"]

Empty DataFrame
Columns: [ï»¿POS, Player, Mat, Inns, NO, Runs, HS, Avg, BF, SR, 100, 50, 4s, 6s]
Index: []

In [18]:
df.replace('-',1,inplace=True)

In [19]:
df[df["Avg"]== "-"]

Empty DataFrame
Columns: [ï»¿POS, Player, Mat, Inns, NO, Runs, HS, Avg, BF, SR, 100, 50, 4s, 6s]
Index: []

In [20]:
df.head()

,ï»¿POS,Player,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,Virat_kohli,14,22,0,794,99,52.93,291,143.84,0,3,33,14
1,2,Rohit_Sharma,11,22,1,392,95,24.50,185,139.50,0,2,22,16
2,3,Suryakumar_Yadav,13,3,0,115,78,38.33,224,185.48,0,1,25,15
3,4,KL_Rahul,7,11,1,271,87,27.10,173,133.49,0,3,22,12
4,5,Rishabh_Pant,10,6,0,24,93,6.00,177,85.71,0,1,24,11

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ï»¿POS  10 non-null     int64
 1   Player  10 non-null     object
 2   Mat     10 non-null     int64
 3   Inns    10 non-null     int64
 4   NO      10 non-null     int64
 5   Runs    10 non-null     int64
 6   HS      10 non-null     int64
 7   Avg     10 non-null     float64
 8   BF      10 non-null     int64
 9   SR      10 non-null     float64
 10  100     10 non-null     int64
 11  50      10 non-null     int64
 12  4s      10 non-null     int64
 13  6s      10 non-null     int64
dtypes: float64(2), int64(11), object(1)
memory usage: 1.2+ KB

In [22]:
df_dummies_2 = pd.get_dummies(df.oppo)
df_dummies = pd.get_dummies(df.Player)

In [23]:
df.Avg = df.Avg.astype(float)

In [24]:
df["Run"] = df["Runs"]//df["Inns"]

In [25]:
df.head()

,ï»¿POS,Player,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s,Run
0,1,Virat_kohli,14,22,0,794,99,52.93,291,143.84,0,3,33,14,36
1,2,Rohit_Sharma,11,22,1,392,95,24.50,185,139.50,0,2,22,16,17
2,3,Suryakumar_Yadav,13,3,0,115,78,38.33,224,185.48,0,1,25,15,38
3,4,KL_Rahul,7,11,1,271,87,27.10,173,133.49,0,3,22,12,24
4,5,Rishabh_Pant,10,6,0,24,93,6.00,177,85.71,0,1,24,11,4

In [26]:
df1_temp = pd.concat([df,df_dummies],axis='columns')
df1 = pd.concat([df1_temp,df_dummies_2],axis='columns')

In [27]:
df2_temp= df1.drop(columns = ["Player"])
df2= df2_temp.drop(columns = ["oppo"])
df2.head()

,ï»¿POS,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,...,Dinesh_Karthik,Hardik_Pandya,KL_Rahul,Rishabh_Pant,Rohit_Sharma,Sanju_Samson,Shikhar_Dhawan,Shreyas_Iyer,Suryakumar_Yadav,Virat_kohli
0,1,14,22,0,794,99,52.93,291,143.84,0,...,0,0,0,0,0,0,0,0,0,1
1,2,11,22,1,392,95,24.50,185,139.50,0,...,0,0,0,0,1,0,0,0,0,0
2,3,13,3,0,115,78,38.33,224,185.48,0,...,0,0,0,0,0,0,0,0,1,0
3,4,7,11,1,271,87,27.10,173,133.49,0,...,0,0,1,0,0,0,0,0,0,0
4,5,10,6,0,24,93,6.00,177,85.71,0,...,0,0,0,1,0,0,0,0,0,0

In [28]:
df2.Run

0    36
1    17
2    38
3    24
4     4
5    24
6     6
7    17
8     9
9    16
Name: Run, dtype: int64

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ï»¿POS            10 non-null     int64
 1   Mat               10 non-null     int64
 2   Inns              10 non-null     int64
 3   NO                10 non-null     int64
 4   Runs              10 non-null     int64
 5   HS                10 non-null     int64
 6   Avg               10 non-null     float64
 7   BF                10 non-null     int64
 8   SR                10 non-null     float64
 9   100               10 non-null     int64
 10  50                10 non-null     int64
 11  4s                10 non-null     int64
 12  6s                10 non-null     int64
 13  Run               10 non-null     int64
 14  Dinesh_Karthik    10 non-null     uint8
 15  Hardik_Pandya     10 non-null     uint8
 16  KL_Rahul          10 non-null     uint8
 17  Rishabh_Pant      10 non-null     uint8
 18  Rohit_Sharma      10 non-null     uint8
 19  Sanju_Samson      10 non-null     uint8
 20  Shikhar_Dhawan    10 non-null     uint8
 21  Shreyas_Iyer      10 non-null     uint8
 22  Suryakumar_Yadav  10 non-null     uint8
 23  Virat_kohli       10 non-null     uint8
dtypes: float64(2), int64(12), uint8(10)
memory usage: 1.3 KB

In [30]:
X = df2.drop(columns = ["Mat" ,"Inns","NO", "HS","100","50","4s","6s"])
X.head()

,ï»¿POS,Runs,Avg,BF,SR,Run,Dinesh_Karthik,Hardik_Pandya,KL_Rahul,Rishabh_Pant,Rohit_Sharma,Sanju_Samson,Shikhar_Dhawan,Shreyas_Iyer,Suryakumar_Yadav,Virat_kohli
0,1,794,52.93,291,143.84,36,0,0,0,0,0,0,0,0,0,1
1,2,392,24.50,185,139.50,17,0,0,0,0,1,0,0,0,0,0
2,3,115,38.33,224,185.48,38,0,0,0,0,0,0,0,0,1,0
3,4,271,27.10,173,133.49,24,0,0,1,0,0,0,0,0,0,0
4,5,24,6.00,177,85.71,4,0,0,0,1,0,0,0,0,0,0

In [31]:
X.shape

(10, 16)

In [32]:
Y = df2.Run
len(Y)

10

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, y_train, y_test=train_test_split(X,Y , test_size = 0.2 , random_state = 10)

In [35]:
X_train.shape

(8, 16)

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
lr = LinearRegression()

In [38]:
lr.fit(X_train, y_train)

LinearRegression()

In [39]:
lr.score(X_test, y_test)

0.9995355803433869

In [40]:
lr.score(X_train, y_train)

1.0

In [41]:
data_train = pd.concat([X_train, y_train], axis=1)
data_train.head()

,ï»¿POS,Runs,Avg,BF,SR,Run,Dinesh_Karthik,Hardik_Pandya,KL_Rahul,Rishabh_Pant,Rohit_Sharma,Sanju_Samson,Shikhar_Dhawan,Shreyas_Iyer,Suryakumar_Yadav,Virat_kohli,Run
5,6,347,28.91,188,139.35,24,0,0,0,0,0,0,1,0,0,0,24
6,7,12,12.00,171,200.00,6,0,0,0,0,0,0,0,1,0,0,6
3,4,271,27.10,173,133.49,24,0,0,1,0,0,0,0,0,0,0,24
1,2,392,24.50,185,139.50,17,0,0,0,0,1,0,0,0,0,0,17
0,1,794,52.93,291,143.84,36,0,0,0,0,0,0,0,0,0,1,36

In [42]:
X_train.columns

Index(['ï»¿POS', 'Runs', 'Avg', 'BF', 'SR', 'Run', 'Dinesh_Karthik',
       'Hardik_Pandya', 'KL_Rahul', 'Rishabh_Pant', 'Rohit_Sharma',
       'Sanju_Samson', 'Shikhar_Dhawan', 'Shreyas_Iyer', 'Suryakumar_Yadav',
       'Virat_kohli'],
      dtype='object')

In [43]:
import statsmodels.formula.api as smf

In [44]:
lm1 = smf.ols(formula= 'Runs ~ Avg+BF+SR', data = data_train).fit()
lm1.params

Intercept   -166.980118
Avg            9.152278
BF             1.913130
SR            -0.961858
dtype: float64

In [45]:
print(lm1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Runs   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.737
Method:                 Least Squares   F-statistic:                     7.544
Date:                Wed, 16 Nov 2022   Prob (F-statistic):             0.0401
Time:                        22:34:26   Log-Likelihood:                -47.736
No. Observations:                   8   AIC:                             103.5
Df Residuals:                       4   BIC:                             103.8
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -166.9801    269.906     -0.619      0.570    -916.360     582.400
Avg            9.1523      3.177      2.881      0.045       0.332      17.972
BF             1.9131      0.730      2.622      0.059      -0.113       3.939
SR            -0.9619      1.662     -0.579      0.594      -5.576       3.652
==============================================================================
Omnibus:                        1.240   Durbin-Watson:                   1.836
Prob(Omnibus):                  0.538   Jarque-Bera (JB):                0.629
Skew:                          -0.031   Prob(JB):                        0.730
Kurtosis:                       1.628   Cond. No.                     1.30e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.3e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

c:\Users\MYPC\AppData\Local\Programs\Python\Python311\Lib\site-packages\scipy\stats\_stats_py.py:1772: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=8
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [46]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

In [47]:
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, Y, cv=cv)

array([0.99953558, 0.        , 0.98009407, 0.99739549, 0.99908722])

In [55]:
def predict_run(PLAYER,Avg, BF, SR,Fours, Six):    
    loc_index = np.where(X.columns==PLAYER )[0][0]
    x = np.zeros(len(X.columns))
    x[0] = Avg
    x[1] = BF
    x[2] = SR
    x[3] = Fours
    x[4] = Six
    if loc_index >= 0:
        x[loc_index] = 1
    return  (lr.predict([x])[0])

In [54]:
# predict_run("Rohit_Sharma",200,291,126.46,33,14)

c:\Users\MYPC\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

3.4278001842409593

In [56]:
import joblib
joblib.dump(lr, 'model.pkl')
print("Model dumped!")

# Load the model that you just saved
lr = joblib.load('model.pkl')

# Saving the data columns from training
model_columns = list(X.columns)
joblib.dump(model_columns, 'model_columns.pkl')
print("Models columns dumped!")

Model dumped!
Models columns dumped!

In [57]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))

In [58]:
import pickle
with open('ipl_individual.pickle','wb') as f:
    pickle.dump(lr,f)